.anton-sc-regular {
  font-family: "Anton SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: "Anton SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-family: "Anton SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p,
.courier-prime-regular {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
}

.courier-prime-bold {
  font-family: "Courier Prime", monospace;
  font-weight: 700;
  font-style: normal;
}

.courier-prime-regular-italic {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: italic;
}

.courier-prime-bold-italic {
  font-family: "Courier Prime", monospace;
  font-weight: 700;
  font-style: italic;
}

#main {
    max-width: 1600px;
    margin: auto;
    padding: 25px 25px;
    display: block;
    position: relative;
}

#main {
  display: flex;
  justify-content: center;
  border: 1px solid black;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#content-left {
    width: 50%;
    left: 0;
}

#content-right {
    width: 50%;
    right: 0;
}

.flex-container {
  display: flex;
}

.flex-container > div {
  margin: 10px;
  padding: 20px;
  width: 100%;
}

#content-left img {
  width: 100%;
}

